body {
  background-color: #eaf6f6;
}

hr {
  border-style: none;
  border-top-style: dotted;
  width: 5%;
  border-color: grey;
  border-width: 5px;
}

h1 {
  color: #16817a;
}

h3 {
  color: #00a1ab;
}

/*p{text-align: center;


}*/
